<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>

    <div class="header">My Messages</div>

    <div id="message-stream">
      <%
        # for each message in @messages
        # render the template below
        # filling the content from
        # the message
      %>

      <div class="message">
        <div class="to">
          <h2>To:</h2>
          <p>
          <% @messages.each do |message| %>
            <%= message.to %>
          </p>
        </div>
        <div class="from">
          <h2>From:</h2>
          <p>
            <%= message.from %>
          </p>
        </div>
        <div class="content">
          <p>
            <%= message.content %>
          </p>
        </div>
        <div class="time">
          <%= message.created_at %>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
